# 以'#' 开始的行，被视为注释.
# 忽略掉所有文件名是 foo.txt 的文件.
foo.txt
# 忽略所有生成的 html 文件,
*.html
*.aux
*.bbl
*.fdb_latexmk
*.fls
*.synctex.gz
*.gz
*.out
*.zip
*.log
*.blg
_minted-demo/
# foo.html是手工维护的，所以例外.
!foo.html
#  忽略所有.o 和 .a文件.
*.[oa]